<div class="container">
    <h1>Game</h1>
  
  <h2>Scegli il formato di gioco</h2>
  
  <button class="btn btn-dark me-5" (click)="generateBoardGame('5x5')">5 x 5 </button>
  
  <button class="btn btn-dark" (click)="generateBoardGame('7x6')">7 x 6 </button>
  
  @if(boardGameSize){
    
      <h2>Sei in {{ boardGameSize }}</h2>
      <!-- <button (click)="getRandomNumber()">Genera numero</button> -->
      <p>{{ randomNumber }}</p>
    
      <div class="container">
        <div class="d-flex  justify-content-center">
          <table>
            <tr *ngFor="let row of grid">
              <td *ngFor="let cell of row" ngsty [ngStyle]="playerColor(cell)">{{ cell }}</td>
            </tr>
          </table>
        </div>
        <div class="text-center ">
      
        </div>
        <!-- @if(!winner){
          <div class="text-center ">
            <button class="btn btn-info w-50" >Fake gioca</button>
          </div>
        }
        @if(winner){
          <h2>{{currentPlayer}}Ha vinto con uno streak {{typeOfStreak}}</h2>
        } -->
      </div>
    
  }
  
  </div>
  