<div class="container mt-4" id="gameContainer">
  <div class="row mb-5">
    <div class="col d-flex justify-content-start align-items-center" id="title">
      <h1 class="my-0 me-2">Forza 4</h1>
      <div class="d-flex border border-2 rounded-3 border-info p-1">
        <p class="bi bi-circle-fill bg-danger fs-1 me-1"></p>
        <p class="bi bi-circle-fill bg-warning fs-1"></p>
      </div>
    </div>
  </div>
  @if(!boardGameSize){
  <div class="row mb-3">
    <div class="col">
      <h4 class="text-center">Scegli il formato di gioco</h4>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex-column d-md-flex">
      <button
        class="btn btn-outline-primary me-5 d-block w-100 mb-3 mb-md-0 p-3 fs-3"
        (click)="generateBoardGame('5x5')"
      >
        5 x 5
      </button>

      <button
        class="btn btn-outline-primary d-block w-100 p-3 fs-3"
        (click)="generateBoardGame('7x6')"
      >
        7 x 6
      </button>
    </div>
  </div>
  } @if(boardGameSize){

  <div class="row d-flex flex-column flex-sm-row flex-lg-row justify-content-center align-items-center">
    <!-- Tabellone -->
    <div class="col-12 col-lg-9">
      <table class="boardGame mx-auto">
        <tr *ngFor="let row of grid">
          <td
            *ngFor="let cell of row"
            class="cell"
            [ngStyle]="playerColor(cell)"
          ></td>
        </tr>
      </table>
     @if(!winner && !draw){
      <button
      [disabled]="gameInProgress"
      class="btn btn-outline-success d-block w-50 mt-3 p-3 fs-3 mx-auto"
      (click)="play()"
    >
      Gioca
    </button>
     }
     @if(winner || draw){
      <button
      
      class="btn btn-outline-success d-block w-50 mt-3 p-3 fs-3 mx-auto"
      (click)="playAgain()"
    >
      Gioca ancora
    </button>
     }
    </div>
    <!-- Statistiche partita vinta -->
    @if(winner){
    <div class="col col-lg-3 statistics">
      @if(currentPlayer === 'CPU_1'){
     <div class="row d-flex flex-column flex-md-row flex-lg-column">
      <div class=" col   px-4 py-3">
        <h2 class="mb-2" [ngStyle]="{ color: 'green' }">Vincitore: {{ matchStatistics.players[0].name }}</h2>
        <p>Numero turni: <strong>{{ matchStatistics.players[0].numTurns }}</strong></p>
        <p>
          Numero coordinate duplicate: <strong>{{
            matchStatistics.players[0].numDuplicates
          }}</strong>
        </p>
        <p>
          Numero mosse per vincere: <strong>{{ matchStatistics.players[0].numStreaks }}</strong>
        </p>
        <p>Numero blocchi: <strong>{{ matchStatistics.players[0].numBlocks }}</strong></p>
      </div>
      <div class=" col  px-4 py-3">
        <h2 class="mb-2" [ngStyle]="{ color: 'red' }">Avversario: {{ matchStatistics.players[1].name }}</h2>
        <p>Numero turni: <strong>{{ matchStatistics.players[1].numTurns }}</strong></p>
        <p>
          Numero coordinate duplicate: <strong>{{
            matchStatistics.players[1].numDuplicates
          }}</strong>
        </p>
        <p>
          Numero mosse per vincere: <strong>{{ matchStatistics.players[1].numStreaks }}</strong>
        </p>
        <p>Numero blocchi: <strong>{{ matchStatistics.players[1].numBlocks }}
        </strong>
        </p>
      </div>
     </div>
   

    } @if(currentPlayer === 'CPU_2'){
      <div class="row d-flex flex-column flex-md-row flex-lg-column">
        <div class="col  px-4 py-3">
        <h2 [ngStyle]="{ color: 'red' }">Avversario: {{ matchStatistics.players[0].name }}</h2>
        <p>Numero turni: <strong>{{ matchStatistics.players[0].numTurns }}
          </strong>
        </p>
        <p>
          Numero coordinate duplicate: <strong>{{
            matchStatistics.players[0].numDuplicates
          }}</strong>
        </p>
        <p>
          Numero mosse per vincere: <strong>{{ matchStatistics.players[0].numStreaks }}</strong>
        </p>
        <p>Numero blocchi: <strong>{{ matchStatistics.players[0].numBlocks }}</strong></p>
        </div>
        <div class="col    px-4 py-3">
        <h2 [ngStyle]="{ color: 'green' }">Vincitore: {{ matchStatistics.players[1].name }}</h2>
          <p>Numero turni: <strong>{{ matchStatistics.players[1].numTurns }}</strong></p>
          <p>
            Numero coordinate duplicate: <strong>{{
              matchStatistics.players[1].numDuplicates
            }}</strong>
          </p>
          <p>
            Numero mosse per vincere: <strong>{{ matchStatistics.players[1].numStreaks }}</strong>
          </p>
          <p>Numero blocchi:  <strong>{{ matchStatistics.players[1].numBlocks }}</strong> </p>
        </div>
     </div>

      }
    </div>
    }
     @if(draw){
      <div class="col col-lg-3 statistics">

        <div class="row d-flex flex-column flex-md-row flex-lg-column">
          <div class="col  px-4 py-3">
            <h2 [ngStyle]="{ color: 'orange' }">Giocatore: {{ matchStatistics.players[0].name }}</h2>
          <p>Numero turni: <strong>{{ matchStatistics.players[0].numTurns }}</strong></p>
          <p>
            Numero coordinate duplicate: <strong>{{
              matchStatistics.players[0].numDuplicates
            }}</strong>
          </p>
          <p>
            Numero mosse per vincere: <strong>{{ matchStatistics.players[0].numStreaks }}</strong>
          </p>
          <p>Numero blocchi: <strong>{{ matchStatistics.players[0].numBlocks }}</strong></p>
          </div>
          <div class="col  px-4 py-3">
            <h2 [ngStyle]="{ color: 'orange' }">Giocatore: {{ matchStatistics.players[1].name }}</h2>
          <p>Numero turni: <strong>{{ matchStatistics.players[1].numTurns }}</strong></p>
          <p>
            Numero coordinate duplicate: <strong>{{
              matchStatistics.players[1].numDuplicates
            }}</strong>
          </p>
          <p>
            Numero mosse per vincere: <strong>{{ matchStatistics.players[1].numStreaks }}
            </strong></p>
          <p>Numero blocchi: <strong>{{ matchStatistics.players[1].numBlocks }}</strong></p>
          </div>
        </div>
      </div>
    }
  </div>



  }
</div>
