
.boardGame{
  margin: 0;
}
td {
  max-width: 130px;
  max-height: 130px;
  text-align: center;
  vertical-align: middle;
}


#title p{
width: 20px;
height: 20px;
border-radius: 50%;
margin: 0;
}

.cell {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}
.statistics p{
  line-height: 2rem;
  font-size: 20px;
  
}